@import "colors";
@import "fonts/helvetica/style.css";

body{
  font-family: Helvetica, sans-serif;
}

.filter-menu-wrapper{
  width: 800px;
  margin: auto;
  margin-top: 20px;
}

.btn{
  height: 30px;
  border: 1px solid $accent-white;
  border-radius: 2px;
  background-color: $white;
  margin: 5px;

  &:hover{
    background-color: $accent-white;
    .text-container{ color: $blue }
  }

  &:active, &.active{
    background-color: $blue;
    border: 1px solid $blue;
    .text-container{ color: $white; }
  }

 .text-container{
   color: $gray;

   .category-title{
     font-weight: bold;
     font-size: 13px;
     line-height: 16px;
   }
   .category-subtitle{
     font-size: 12px;
     line-height: 14px;
     margin-left: 5px;
   }
   .icon{
     fill: $gray;
     height: 14px;
     top: 2px;
     display: inline;
     position: relative;
     margin-left: 2px;
   }
 }
}
.d-inline{
  display: inline;
}
.dropdown-btn-container{
  display: inline-block;
  position: relative;

  .dropdown-container{
    position: absolute;
    display: none;
    padding: 10px 5px;
    box-shadow: 0 0 4px 2px #0000002e;
    font-family: "Helvetica Light", sans-serif;
    &.open{
      display: block;
    }
    .dropdown-item{
      width: 200px;
      color: $dark-gray;
      font-size: 12px;
      padding: 7px 7px;
      &:hover{
        background-color: $light-gray;
        color: $blue;
        .dropdown-subtitle{
          color: inherit;
        }
        .checkbox{
          border-color: $blue;
        }
      }
      .dropdown-subtitle{
        float: right;
        color: $gray;
      }
      .checkbox{
        display: inline-block;
        border: 1px solid $gray;
        width: 12px;
        height: 12px;
        margin-right: 15px;
        position: relative;
        top: 2px;
        .checkIcon{
          position: absolute;
          bottom: -5px;
          left: -4px;
        }
      }
    }
  }
}